/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100% !important;
    font-family: ubuntu Semi-Light;
    font-family: ubuntu;
    font-size: 12px;

}

*{
    padding: 0;
    margin: 0;
}