.footer {	

    background-color: #efefef;;
    margin: 0 auto;
    border-color: #e7e7e7;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 22px 0 20px 0;
    min-width: 300px;
    font-size: 13px;
    border-top: 1px solid gainsboro;
}


li{
    text-decoration: none;
    display: inline-flex;
    margin: 0px 4px 0px 4px;
    
}

.left{
    font-weight: bold;
}

.footer a{
    color: #AEB5BB;
    text-decoration: none;
}


.copy {	
    text-align: center;
    width: 222px;	
    color: #AEB5BB;
    	
    width: 100%;
}

ul{
    width: 100%;
    text-align: center;
    color: #AEB5BB;
    text-align: center;
}

